body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:650px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:182px;
  height:650px;
}
#u4840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:317px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4841 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:163px;
  width:149px;
  height:45px;
}
#u4841_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u4843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4843 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4843_img.selected {
}
#u4843.selected {
}
#u4844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4845 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u4846 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u4842_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4847 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:124px;
  height:20px;
  font-size:16px;
}
#u4848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4848 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u4849 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:97px;
  white-space:nowrap;
}
#u4850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4850 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:93px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:72px;
}
#u4853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4854 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:25px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u4855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:72px;
}
#u4856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:72px;
}
#u4857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4858 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:229px;
  width:149px;
  height:105px;
}
#u4858_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u4860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4860 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4860_img.selected {
}
#u4860.selected {
}
#u4861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4862 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u4863 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u4859_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4864 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:124px;
  height:20px;
  font-size:16px;
}
#u4865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4865 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4865_img.selected {
}
#u4865.selected {
}
#u4866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4867 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u4868 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:97px;
  white-space:nowrap;
}
#u4864_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4869 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:60px;
  height:20px;
  font-size:16px;
}
#u4870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4870 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:38px;
  height:20px;
}
#u4871 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:33px;
  white-space:nowrap;
}
#u4872 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u4873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4873 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u4874 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u4875 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u4876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4876 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u4877 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u4878 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:380px;
  width:169px;
  height:105px;
}
#u4878_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u4880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4880 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4880_img.selected {
}
#u4880.selected {
}
#u4881 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4882 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u4883 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u4879_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4884 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u4885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4885 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4885_img.selected {
}
#u4885.selected {
}
#u4886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4887 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u4888 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u4884_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4889 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:124px;
  height:20px;
  font-size:16px;
}
#u4890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4890 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u4891 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:97px;
  white-space:nowrap;
}
#u4892 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:95px;
  height:20px;
  font-size:16px;
}
#u4893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4893 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u4894 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:81px;
  white-space:nowrap;
}
#u4895 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:60px;
  height:20px;
  font-size:16px;
}
#u4896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4896 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:38px;
  height:20px;
}
#u4897 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:33px;
  white-space:nowrap;
}
#u4898 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:491px;
  width:97px;
  height:25px;
}
#u4898_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u4900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4900 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u4901 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u4902 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:610px;
  width:65px;
  height:25px;
}
#u4902_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-size:16px;
}
#u4904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4904 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:38px;
  height:20px;
}
#u4905 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:33px;
  white-space:nowrap;
}
#u4906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4906 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:128px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u4907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4908 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:520px;
  width:117px;
  height:85px;
}
#u4908_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4910 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4910_img.selected {
}
#u4910.selected {
}
#u4911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4912 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u4913 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u4909_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4914 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4915 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u4916 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u4917 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4918 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u4919 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u4920 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4921 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u4922 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u4923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:692px;
}
#u4923 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:73px;
  width:955px;
  height:692px;
}
#u4924 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:338px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:578px;
}
#u4925 {
  border-width:0px;
  position:absolute;
  left:1430px;
  top:138px;
  width:955px;
  height:578px;
}
#u4926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:281px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u4927 {
  border-width:0px;
  position:absolute;
  left:1430px;
  top:91px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u4928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
