body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:166px;
}
#u4240 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:183px;
  width:473px;
  height:166px;
}
#u4241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:75px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
