body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1412px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:93px;
}
#u2942 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:72px;
  width:680px;
  height:93px;
}
#u2943 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:488px;
}
#u2944 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:165px;
  width:604px;
  height:488px;
}
#u2945 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:236px;
  width:600px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:93px;
}
#u2946 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:72px;
  width:454px;
  height:93px;
}
#u2947 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:488px;
}
#u2948 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:165px;
  width:454px;
  height:488px;
}
#u2949 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:236px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:214px;
}
#u2950 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:0px;
  width:278px;
  height:214px;
}
#u2951 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:99px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(91, 155, 212, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2953 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:165px;
  width:78px;
  height:27px;
  font-size:10px;
  color:#FFFFFF;
}
#u2954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u2955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#000000;
}
#u2955 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:192px;
  width:78px;
  height:27px;
  font-size:10px;
  color:#000000;
}
#u2956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u2957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#000000;
}
#u2957 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:220px;
  width:78px;
  height:27px;
  font-size:10px;
  color:#000000;
}
#u2958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u2959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2959 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:248px;
  width:78px;
  height:27px;
  font-size:10px;
  color:#FFFFFF;
}
#u2960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2961 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:276px;
  width:78px;
  height:27px;
  font-size:10px;
  color:#FFFFFF;
}
#u2962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2963 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:304px;
  width:78px;
  height:27px;
  font-size:10px;
  color:#FFFFFF;
}
#u2964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2965 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:332px;
  width:78px;
  height:27px;
  font-size:10px;
  color:#FFFFFF;
}
#u2966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2967 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:360px;
  width:78px;
  height:27px;
  font-size:10px;
  color:#FFFFFF;
}
#u2968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2969 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:388px;
  width:78px;
  height:27px;
  font-size:10px;
  color:#FFFFFF;
}
#u2970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2971 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:416px;
  width:78px;
  height:27px;
  font-size:10px;
  color:#FFFFFF;
}
#u2972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2973 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:444px;
  width:78px;
  height:27px;
  font-size:10px;
  color:#FFFFFF;
}
#u2974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2975 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:472px;
  width:78px;
  height:27px;
  font-size:10px;
  color:#FFFFFF;
}
#u2976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u2977 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:500px;
  width:78px;
  height:27px;
  font-size:10px;
  color:#FFFFFF;
}
#u2978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
