body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:821px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:57px;
}
#u4080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:57px;
}
#u4081 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:817px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:31px;
}
#u4082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:128px;
  height:31px;
}
#u4083 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:726px;
}
#u4084 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:128px;
  height:726px;
}
#u4085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:355px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:416px;
}
#u4086 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:57px;
  width:693px;
  height:416px;
}
#u4087 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:200px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:69px;
}
#u4088 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:742px;
  width:693px;
  height:69px;
}
#u4089 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:19px;
}
#u4090 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:60px;
  width:123px;
  height:19px;
}
#u4091 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
}
#u4092 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:85px;
  width:140px;
  height:23px;
}
#u4093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:272px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4094 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:473px;
  width:687px;
  height:272px;
  text-align:left;
}
#u4095 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:683px;
  word-wrap:break-word;
}
#u4096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:196px;
}
#u4096 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:501px;
  width:644px;
  height:196px;
}
#u4097 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:90px;
  width:640px;
  visibility:hidden;
  word-wrap:break-word;
}
