body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:826px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:574px;
}
#u3661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:574px;
}
#u3662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:279px;
  width:822px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3663 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:88px;
  width:95px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
