body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:818px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:119px;
}
#u5184 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:87px;
  width:575px;
  height:119px;
}
#u5185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:571px;
  visibility:hidden;
  word-wrap:break-word;
}
