body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1129px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:517px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:16px;
  width:959px;
  height:517px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:250px;
  width:955px;
  visibility:hidden;
  word-wrap:break-word;
}
