body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1234px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:581px;
}
#u3389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:581px;
}
#u3390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:282px;
  width:1230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3391 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:332px;
  width:46px;
  height:188px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3392 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:332px;
  width:318px;
  height:171px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
