body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1444px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:219px;
}
#u3604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:219px;
}
#u3605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:365px;
}
#u3606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:219px;
  width:301px;
  height:365px;
}
#u3607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:174px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:38px;
}
#u3608 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:219px;
  width:196px;
  height:38px;
}
#u3609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3608_ann {
  border-width:0px;
  position:absolute;
  left:426px;
  top:215px;
  width:1px;
  height:1px;
}
#u3610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:219px;
}
#u3610 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:0px;
  width:863px;
  height:219px;
}
#u3611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:859px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:327px;
}
#u3612 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:257px;
  width:196px;
  height:327px;
}
#u3613 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:156px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:38px;
}
#u3614 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:219px;
  width:667px;
  height:38px;
}
#u3615 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:327px;
}
#u3616 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:257px;
  width:667px;
  height:327px;
}
#u3617 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:156px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:541px;
}
#u3618 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:1px;
  width:280px;
  height:541px;
}
#u3619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u3620 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:219px;
  width:64px;
  height:21px;
  font-size:10px;
}
#u3621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
#u3622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#5B9BD4;
}
#u3622 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:237px;
  width:64px;
  height:21px;
  font-size:10px;
  color:#5B9BD4;
}
#u3623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  word-wrap:break-word;
}
